/* * {
  border: 1px solid;
  background: khaki;
}
*:nth-child(odd) {
  background: palegreen;
} */

body {
  margin: 0;
  font: 1rem Trebuchet MS, Helvetica, Arial, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

#header, #main, #footer, #menu, #links, #socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menu>*, #links>*, #socials>* {
  margin: 0 4px;
}

#leftside, #rightside {
  width: 20%;
  margin: 1rem;
}

#main {
  margin: 0 10%;
  min-height: 50vh;
}

#header {
  min-height: 6rem;
}


#footer {
  min-height: 8rem;
}